* {
  font-family: cursive;
 
}

.sidebar {
  width: 250px;
  background: #5a6dff;
  padding: 20px;
  border-radius: 8px;
}

.sidebar h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.sidebar-button {
  width: 108%; /* Full width */
  padding: 12px;
  margin-bottom: 10px;
  background: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  text-align: left;
  transition: background 0.3s ease-in-out;
  border: 2px solid rgb(165, 149, 149);
  display: flex;
  align-items: center;
  gap: 10px; /* Space between icon and text */
  padding-left: 15px;
}

.sidebar-button i {
  font-size: 18px; /* Adjust icon size */
}

.sidebar-button:hover {
  background: rgba(11, 45, 97, 0.867);
  color: black;
  font-weight: bold;
}
